* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f7f8fa;
    color: #17181a;
}

button,
input {
    font: inherit;
}

button {
    border: none;
    cursor: pointer;
    
}